@media screen and (max-width: 1400px) {
	.build-slider {
		.container {
			justify-content: center;
			align-items: center;
			display: flex;
			flex-direction: column;
		}

		.slider-template {
			max-width: 986px;
			width: 100%;
			align-items: center;
			justify-content: center;
			margin-left: 10px;
		}
	}
}

@media screen and (max-width: 1325px) {
	// header

	header {
		.logo-block {
			margin-left: 20px;
			max-width: 350px;
		}

		.nav-btn-block {
			margin-right: 20px;
		}
	}

	// first screen

	.first-screen {
		.col-description {
			margin-left: 25px;
		}

		.col-photo {
			margin-right: 25px;
		}
	}

	// introduction

	.introduction {
		.row {
			margin: auto 25px;
		}

		.hydra-vr {
			.introduction-title::after {
				display: none;
			}

			.introduction-subtitle {
				&::before {
					display: none;
				}

				&::after {
					display: none;
				}
			}
		}
	}

	// about

	.about-hydra {
		.col-description {
			margin-right: 25px;
		}

		.col-photo {
			margin-left: 25px;
		}
	}

	.why-build {
		.row {
			margin: auto 25px;
		}

		.about-hydra-title::after {
			display: none;
		}

		.about-hydra-subtitle {
			&::before {
				display: none;
			}

			&::after {
				display: none;
			}
		}
	}

	// hardware

	.hardware {
		.container {
			max-width: 1325px;
			justify-content: center;
			align-items: center;
			display: flex;
		}
	}

	// how we build

	.how-we-build {
		.row {
			margin: auto 25px;
		}

		.build-title::after {
			display: none;
		}

		.build-subtitle {
			&::before {
				display: none;
			}

			&::after {
				display: none;
			}
		}
	}

	.how-we-build-slider {
		margin-left: 50px;

		&::after {
			display: none;
		}

		.slick-track {
			display: flex;
			justify-content: center;

			.slick-slide {
				width: 385px!important;
			}
		} 
	}

	.form-hydra {
		margin-top: 120px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 70px;

		.container {
			margin: auto 15px auto 25px;
			max-width: 1200px;
			justify-content: center;
			align-items: center;
		}

		.send {
			margin-left: 0;
		}

		form {

			.tell-us,
			.subject {
				max-width: 900px;
			}
		}
	}
}

@media screen and (max-width: 1199px) {
}
