@media screen and (max-width: 767px) {

    // header

    header {
        .logo-block {
            max-width: 767px;
            width: 100%;

            .navbar-toggler-icon {
                margin-right: -13px;
                margin-top: -22px;
            }
        }


        .navbar-brand {
            position: relative;
            
            img {
                width: 97px;
                height: 73px;
                margin-left: -14px;
                margin-top: -31px;
            }

            &::after {
                content: "";
                position: absolute;
                width: 44px;
                height: 27px;
                top: 2px;
                left: 81px;
                background-size: cover;
            }
        }
        
    }

    // introduction

    .introduction {
        .hydra-vr {
            display: flex;
            justify-content: center;
            .introduction-description {
                display: none;
            }

            .introduction-title {
                font-size: 26px;
                margin: auto auto 17px 6px;
            }

            .introduction-subtitle {
                text-align: center;
                font-size: 26px;
                margin-left: 4px;
            }

            .row {
                .col {
                    width: 216px;

                    &:nth-child(1) {
                        text-align: center;
                    }

                    &:nth-child(2) {
                        display: none;
                        width: 0;
                    }
                }
            }
        }
    }

    // about 

    .why-build {
        display: flex;
        justify-content: center;

        .about-hydra-description {
            display: none;
        }

        .row {
            .col {
                width: 187px;

                &:nth-child(1) {
                    text-align: center;
                }

                &:nth-child(2) {
                    display: none;
                    width: 0;
                }
            }
        }
    }

    //hardware

    .hardware {

        .hardware-cart {
            border-radius: 60px 60px 60px 60px;
            max-width: 350px;
            margin-left: 16px;
            height: 163px;
            background-size: cover;
        }
        
        .hardware-title {
            font-size: 16px;
            padding-top: 52px;
            margin: auto auto 14px 13px;
        }

        .hardware-subtitle {
            font-size: 24px;
            margin-left: 10px;
        }

        .btn-arrow {
            display: none;
        }
    }

    // technologes-slider 

    .technologes-slider {
        margin-bottom: -23px;
        .slider-box {
            display: flex;
            justify-content: center;
        }
    }

    // how we build 

    .how-we-build {
        display: flex;
        justify-content: center;
        margin-bottom: 38px;

        .build-description {
            display: none;
        }

        .row {
            .col {
                width: 187px;

                &:nth-child(1) {
                    text-align: center;
                }

                &:nth-child(2) {
                    display: none;
                    width: 0;
                }
            }
        }
    }

    .form-hydra {
        margin-top: 85px;

        .container {
            border-radius: 40px;
        }

        .row {
            flex-direction: column;
        }

        form {


            .subject,
            .tell-us {
                max-width: 685px;
                margin-left: 5px;
            }

            input {
                max-width: 695px;
                padding: 12px;
                margin-bottom: 24px;
            }
        }

        .form-title,
        .form-subtitle {
            font-size: 24px;
            text-align: center;
            padding-top: 43px;
            margin-bottom: 40px;
        }

        .form-subtitle {
            padding-top: 0;
            margin-bottom: 43px;
        }

        .form-title {
            &::after {
                width: 400px;
                left: -70%;
            }
        }

        
    }

}
