@media screen and (max-width: 767px) {

    // header

    header {
        .logo-block {
            max-width: 767px;
            width: 100%;

            .navbar-toggler-icon {
                margin-right: -13px;
                margin-top: -22px;
            }
        }


        .navbar-brand {
            position: relative;
            
            img {
                width: 97px;
                height: 73px;
                margin-left: -14px;
                margin-top: -31px;
            }

            &::after {
                content: "";
                position: absolute;
                width: 44px;
                height: 27px;
                top: 2px;
                left: 81px;
                background-size: cover;
            }
        }
        
    }

    // introduction

    .introduction {
        .hydra-vr {
            display: flex;
            justify-content: center;
            .introduction-description {
                display: none;
            }
        }
    }

}
