@media screen and (max-width: 676px) {
    .build-slider {
        margin-top: 28px;

        .slide-box {
            width: 320px;

            .slider-img {
                padding-bottom: 41px;
            }

            .slider-title {
                margin-bottom: 40px;
                margin-left: 9px;
            }

            .slider-description {
                margin-bottom: 37px;
                margin-left: 0px;
            }

            .slider-btn {
                .btn-try-it {
                    font-size: 14px;
                    padding: 15px 78px;
                }
            }
        }

		.slider-template {
			max-width: 320px;
            position: relative;

            .slick-prev {
                position: absolute;
                width: 55px;
                height: 55px;
                font-size: 0;
                // background: url(assets/img/arrow-build-prev.svg);
                background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
                border-radius: 100%;
                border: 7px solid #1e1a31;
                top: 43%;
                right: calc(89% - -2px);
                z-index: 1;

                &::after {
                    content: "";
                    display: block;
                    background: url(assets/img/arrow-build-prev.svg);
                    width: 38px;
                    height: 38px;
                    transform: translate(-4px, 0px);
                    z-index: 1;
                }
            }
    
            .slick-next {
                position: absolute;
                width: 55px;
                height: 55px;
                font-size: 0;
                // background: url(assets/img/arrow-build-next.svg);
                background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
                background-position: center;
                border-radius: 100%;
                border: 7px solid #1e1a31;
                top: 43%;
                left: calc(89% - -2px);

                &::after {
                    content: "";
                    display: block;
                    background: url(assets/img/arrow-build-next.svg);
                    width: 38px;
                    height: 38px;
                    transform: translate(-2px, 0px);
                    z-index: 1;
                }
            }
		}
	}

    // technologes-slider

    .hardware {
        margin-bottom: -22px;
    }

    .technologes-slider {

        .container {
            max-width: 575px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .item-1 {
            margin-top: 67px;
            margin-left: 17px;

            img {
                width: 160px;
            }
        }

        .item-2 {
            transform: translate(0px, 45px);

            img {
                width: 190px;
            }
        }

        .item-3 {
            transform: translate(-6px, 48px);

            img {
                width: 200px;
            }
        }

        .item-4 {
            margin-left: 8px;
            margin-top: 12px;

            img {
                width: 258px;
            }
        }

        .slider-template {
			max-width: 320px;
            position: relative;

            .slick-prev {
                position: absolute;
                width: 55px;
                height: 55px;
                font-size: 0;
                // background: url(assets/img/arrow-build-prev.svg);
                background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
                border-radius: 100%;
                border: 7px solid #1e1a31;
                top: 43%;
                right: calc(89% + 1px);
                z-index: 1;

                &::after {
                    content: "";
                    display: block;
                    background: url(assets/img/arrow-build-prev.svg);
                    width: 38px;
                    height: 38px;
                    transform: translate(-4px, 0px);
                    z-index: 1;
                }
            }
    
            .slick-next {
                position: absolute;
                width: 55px;
                height: 55px;
                font-size: 0;
                // background: url(assets/img/arrow-build-next.svg);
                background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
                background-position: center;
                border-radius: 100%;
                border: 7px solid #1e1a31;
                top: 43%;
                left: calc(89% + 6px);

                &::after {
                    content: "";
                    display: block;
                    background: url(assets/img/arrow-build-next.svg);
                    width: 38px;
                    height: 38px;
                    transform: translate(-2px, 0px);
                    z-index: 1;
                }
            }
             

		}
    }
}


@media screen and (max-width: 575px) {

    // first srceen 

    .first-screen {
        margin-bottom: 55px;
        .col-description {

            .dive-title {
                padding-left: 10px;

                &::before {
                    left: -85px;
                    top: -8px;
                    font-size: 36px;
                }
            }

            .reality-title {
                margin-left: 160px;

                &::after {
                    left: 38px;
                    top: -9px;
                    font-size: 32px;
                }
            }

            .description {
                display: none;
            }

            .btn-build {
                padding: 16px 70px;
                margin-left: -8px;
                font-size: 14px;

                &::after {
                    display: none;
                }
            }

        }

        .col-photo {
            display: flex;
            justify-content: center;
            margin-bottom: 47px;
            
            img {
                border-radius: 28% 32% 32% 71%;
                width: 323px;
                height: 280px;
                margin-top: -70px;
                margin-left: 28px;
            }

            &::before {
                top: 13%;
                transform: rotate(11deg);
            }

            &::after {
                background-image: url(assets/img/vector-1-mob.svg);
                left: 4%;
                top: -112%;
                background-repeat: no-repeat;
            }
        }
    }

    // introduction 

    .introduction {

        #introduction-slider {
            margin-bottom: 62px;
        }

        .container {
            display: flex;
            flex-direction: column;
            max-width: 575px;
            width: 100%;
            align-items: center;
        }
        
        .row {
            margin: auto 5px auto 10px;
            width: 347px;

            .col {
                padding: 38px 0px 34px 28px;
            }

            .col-description {
                width: 195px;
                margin-left: 73px;
            }

            .slick-prev {
                top: 34%;
                left: 2%;
            }

            .slick-next {
                left: 89%;
                top: 36%;
            }

            .pay-us {

                .col-description {
                    width: 195px;
                    margin-left: 73px;
                    text-align: left;
                }

                &::before {
                    top: -18px;
                    left: 3%;
                    
                }
            }

            .send-us::before {
                left: 4%;
            }


        }
    }

    // about 

    .about-hydra {
        margin-bottom: 58px;
        .description {
            width: 325px;
            font-size: 12px;
        }
    }

    // why build 

    .why-build {

        .about-hydra-title,
        .about-hydra-subtitle {
            font-size: 26px;
        }

        .about-hydra-title {
            margin-bottom: 16px;
        }

        .row {
            .col:nth-child(1) {
                margin-left: 8px;
            }
        }
    }

    // build slider

    .build-slider {
        margin-bottom: 50px;
    }

    // technologes-slider 

    .technologes-slider {
        .slide-box {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .slick-slide {
            display: flex;
            justify-content: center;
        }
    }

    // how we build 

    .how-we-build {

        .build-title,
        .build-subtitle {
            font-size: 26px;
        }

        .build-title {
            margin-bottom: 16px;
        }

        .row {
            .col:nth-child(1) {
                margin-left: 8px;
            }
        }
    }

    // form-hydra 

    .form-hydra {

        .form-title {

            &::after {
                width: 200px;;
                left: -11%;
            }
        }
        
        form {
            width: 300px;

            .subject,
            .tell-us {
                max-width: 300px;
                margin-left: 12px;
            }

            .tell-us {
                padding-bottom: 178px;
                margin-bottom: 52px;
            }
        }

        .btn-form {
            .btn-send {
                padding: 15px 93px;
                margin-left: 6px;
            }
        }
    }

}
