@media screen and (max-width: 991.999px) {
	/* header   */

	header {
		.logo-block {
			max-width: 991px;
			width: 100%;

			.navbar-toggler {
				margin-right: 20px;
			}

			.navbar-toggler-icon {
				position: relative;
				margin-right: -12px;
				width: 23px;
				height: 5px;
				background-image: none;
				border-radius: 40px;
				background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);

				&::before {
					content: "";
					right: 0px;
					top: 10px;
					position: absolute;
					width: 33px;
					height: 5px;
					border-radius: 40px;
					background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
				}

				&::after {
					content: "";
					position: absolute;
					right: 0;
					bottom: 12px;
					width: 33px;
					height: 5px;
					border-radius: 40px;
					background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
				}
			}
		}

		.btn {
			display: none;
		}

		.navbar-nav {
			align-items: center;
			max-width: 991px;
			width: 100%;
			margin-top: 0;
			margin-left: 10px;
		}
	}

	/*first screen */

	.first-screen {
		.row {
			justify-content: center;
			max-width: 991px;
		}

		.col-description {
			max-width: 991px;
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			order: 1;

			&::after {
				display: none;
			}

			.dive-title {
				font-size: 24px;
				padding-left: 0px;
				margin-left: 70px;
			}

			.dive-title {
				&::before {
					left: -120px;
					top: -14px;
				}
			}

			.reality-title {
				font-size: 24px;
				padding-left: 0px;
				margin-left: 30px;
				margin-top: 20px;
				width: 450px;

				&::after {
					font-size: 42px;
					left: 47px;
					top: -15px;
				}
			}
		}

		.col-photo {
			margin-bottom: 30px;
		}
	}

	/* introduction */

	.introduction {
		.row {
			position: relative;

			.col-title {
				display: none;
			}

			.col {
				padding: 53px 0px 58px 40px;
			}

			.pay-us,
			.give-us,
			.send-us {
				padding-left: 0;
				text-align: center;
			}

			.pay-us {
				&::after {
					display: none;
				}

				&::before {
					top: -30px;
					left: 4%;
				}
			}

			.send-us {
				&::after {
					display: none;
				}

				&::before {
					top: -20px;
					left: 10%;
				}
			}

			.give-us {
				&::before {
					top: -17px;
					left: 13%;
				}
			}

			.slick-prev {
				position: absolute;
				width: 30px;
				height: 30px;
				background: none;
				border: none;
				font-size: 0;
				background-image: url(assets/img/introduction-arrow-left.svg);
				top: 40%;
				left: 3%;
			}

			.slick-next {
				position: absolute;
				width: 30px;
				height: 30px;
				background: none;
				border: none;
				font-size: 0;
				background-image: url(assets/img/introduction-arrow-right.svg);
				left: 91%;
				top: 40%;
			}
		}

		.hydra-vr {
			margin-bottom: 40px;
		}
	}

	.about-hydra {

		&::after {
			display: none;
		}

		&::before {
			display: none;
		}

		.row {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			max-width: 991px;
		}

		.description {
			font-size: 14px;
			max-width: 700px;
			order: 1;
			text-align: justify;
			line-height: revert;
			margin: auto 20px 69px 53px;
		}

		.btn-touch {
			order: 2;
			font-size: 14px;
			padding: 20px 64px;
			margin-left: 45px;
		}

		.col-description {
			max-width: 991px;
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			order: 1;
			text-align: left;
			line-height: inherit;

			.about-hydra-title {
				display: none;
			}

			.about-hydra-subtitle {
				display: none;
			}
		}

		.col-photo {
			margin-bottom: 30px;
			display: flex;
			justify-content: center;
			margin: auto 0px;

			img {
				border-radius: 39% 17% 43% 18%;
				width: 338px;
				margin-left: -10px;
				height: 355px;
			}
		}
	}

	// build-slider

	.build-slider {
		.slider-template {
			max-width: 651px;
		}
	}
}
