.build {
	@extend .hydra-vr;
}

.why-build {
	.row {
		.col {
			padding: 0;

			&:nth-child(1) {
				max-width: 620px;
				width: 100%;
				margin-left: 5px;
			}

			&:nth-child(2) {
				max-width: 652px;
				width: 100%;
			}
		}
	}

	.about-hydra-title {
		position: relative;
		color: $color-white;
		font-family: "Montserrat-bold";
		font-size: 36px;
		line-height: normal;
		margin-bottom: 10px;

		&::after {
			content: "";
			position: absolute;
			max-width: 200px;
			width: 100%;
			border: solid 1px #c0b7e8;
			top: 75px;
			left: 45%;
		}
	}

	.about-hydra-subtitle {
		position: relative;
		color: #fff;
		font-family: "Montserrat-regular";
		font-size: 36px;
		font-weight: 300;
		line-height: normal;

		&::before {
			content: "";
			position: absolute;
			width: 23px;
			border: solid 1px #c0b7e8;
			transform: rotate(45deg);
			left: 74%;
			top: 13px;
		}

		&::after {
			content: "";
			position: absolute;
			width: 23px;
			border: solid 1px #c0b7e8;
			transform: rotate(-45deg);
			left: 74%;
			top: 29px;
		}
	}

	.about-hydra-description {
		color: #fff;
		font-family: "Montserrat-regular";
		font-size: 16px;
		line-height: inherit;
	}
}

.about-hydra {
	margin-bottom: 112px;
	position: relative;

	&::after {
		content: "";
		position: absolute;
		background-image: url(assets/img/vector-top-intro.svg);
		width: 1449px;
		height: 256.676px;
		top: 3%;
		z-index: -1;
	}

	&::before {
		content: "";
		position: absolute;
		background-image: url(assets/img/vector-butt-intro.svg);
		width: 1445px;
		height: 211.75px;
		top: 55%;
		z-index: -1;
	}

	.about-hydra-title {
		color: #fff;
		font-family: "Montserrat-bold";
		font-size: 36px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
        margin-bottom: 5px;
	}

	.about-hydra-subtitle {
		color: rgba(255, 255, 255, 0.95);
		font-family: "Montserrat-regular";
		font-size: 36px;
		font-style: normal;
		font-weight: 300;
		line-height: normal;
        margin-bottom: 43px;
	}

    .description {
        line-height: inherit;
        text-align: justify;
        margin-bottom: 40px;
    }

	.col-photo {
		img {
			border-radius: 43% 17% 44% 18%;
			width: 523px;
			margin-left: -10px;
		}
	}

    .col-description {
        margin-top: 46px;
        margin-left: -14px;
    }

    .btn-touch {
        position: relative;
        color: #343045;
        font-family: 'Montserrat-bold';
        font-size: 12px;
        line-height: normal;
        border-radius: 40px;
        padding: 14px 41px;
        background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
        margin-left: 1px;

        &:hover {
            color: $color-white;
            border: 2px solid #FFF;
            background:  #302C42;
        }
    }
}
