<section class="first-screen">
    <div class="container">
        <div class="row">
            <div class="col col-description">
                <div class="dive-title">Into The Depths</div>
                <div class="reality-title">Of</div>
                <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore nisl tincidunt eget. Lectus mauris eros in vitae .</div>
                <div class="btn btn-build">BUILD YOUR WORLD</div>
            </div>
            <div class="col col-photo">
                <img src="assets/img/virtual-reality-first-screen.svg" alt="girl">
            </div>
        </div>
    </div>
</section>

<!-- <picture>
    <source media="(max-width: 767px)" srcset="assets/img/Ekaterina-K-mobile.png">
    <img src="assets/img/Ekaterina-K.png" alt="#">
</picture> -->