<footer>
	<div class="container">
		<div class="row">

			<div class="col item-1">
				<img src="assets/img/logo-footer.png" alt="logo">
			</div>

			<div class="col item-2">
				<h5>About</h5>
				<h5>Services</h5>
				<h5>technologes</h5>
				<h5>how to</h5>
				<h5>join hydra</h5>
			</div>

			<div class="col item-3">
				<h5>F.A.Q</h5>
				<h5>SITEMAP</h5>
				<h5>CONDITIONS</h5>
				<h5>LICENSES</h5>
			</div>
			
			<div class="col item-4">
				<h5>SOCIALIZE WITH HYDRA</h5>

				<ul>
					<li>
						<a href="https://www.instagram.com/_artemmon_?igsh=MWNqd3h3d2toZmpobA%3D%3D&utm_source=qr">
							<img src="assets/img/facebook.png" alt="facebook">
						</a>
					</li>
					<li>
						<a href="https://www.instagram.com/_artemmon_?igsh=MWNqd3h3d2toZmpobA%3D%3D&utm_source=qr">
							<img src="assets/img/twitter.png" alt="twitter">
						</a>
					</li>
					<li>
						<a href="https://www.instagram.com/_artemmon_?igsh=MWNqd3h3d2toZmpobA%3D%3D&utm_source=qr">
							<img src="assets/img/linkedin.png" alt="linkedin">
						</a>
					</li>
					<li>
						<a href="https://www.instagram.com/_artemmon_?igsh=MWNqd3h3d2toZmpobA%3D%3D&utm_source=qr">
							<img src="assets/img/youtube.png" alt="youtube">
						</a>
					</li>
					<li>
						<a href="https://www.instagram.com/_artemmon_?igsh=MWNqd3h3d2toZmpobA%3D%3D&utm_source=qr">
							<img src="assets/img/instagram.png" alt="instagram">
						</a>
					</li>
					<li>
						<a href="https://www.instagram.com/_artemmon_?igsh=MWNqd3h3d2toZmpobA%3D%3D&utm_source=qr">
							<img src="assets/img/pinterest.png" alt="pinterest">
						</a>
					</li>
				</ul>

				<div class="btn-build">
					<button class="btn">BUILD YOUR WORLD</button>
				</div>
			</div>
		</div>

		<div class="footer-block">
			<h5>
				2024 © HYDRA LANDING PAGE - Made Up By ARTEM BUNDYK For PORTFOLIO - ALL RIGHTS RESERVED 
			</h5>
		</div>
	</div>
</footer>

<script src="assets/js/jquery_3.7.1.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/slick.min.js"></script>
<script src="assets/js/custom.js"></script>
</body>
</html>