<header>
   <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

            <div class="logo-block">
                <a class="navbar-brand" href="#">
                    <img src="assets/img/logo.svg" alt="logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-about" href="#">ABOUT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-services" href="#">SERVICES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-technologes" href="#">TECHNOLOGIES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-how-to" href="#">HOW TO</a>
                    </li>
                </ul>
            </div>

            <div id="nigga" class="nav-btn-block">
                <div class="btn contact-us">CONTACT US</div>
                <div class="btn join">JOIN HYDRA</div>

            </div>
        </div>
      </nav>
   </div>
</header>

