<section class="how-we-build">
    <div class="container">
        <div class="build">
            <div class="row">
                <div class="col">
                    <div class="build-title">HOW WE BUILD</div>
                    <div class="build-subtitle">WITH HYDRA VR?</div>
                </div>
                <div class="col">
                    <div class="build-description">Vitae sapien pellentesque habitant morbi tristique senectus et netus et. Feugiat nibh sed pulvinar proin gravida hendrerit lectus. Mi sit amet mauris commodo quis imperdiet massa tincidunt nunc. Viverra aliquet eget sit amet tellus. Ornare lectus sit amet est placerat in. Lectus magna fringilla urna porttitor rhoncus vitae.</div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="how-we-build-slider">
    <div class="container">
        <div class="slider-template-build">
            <div>
                <div class="item-1 slider-box">
                    <div class="slider-number">01</div>
                    <div class="slider-title">3D Conception & Design</div>
                </div>
            </div>

            <div>
                <div class="item-2 slider-box">
                    <div class="slider-number">02</div>
                    <div class="slider-title">Interaction Design</div>
                </div>
            </div>

            <div>
                <div class="item-3 slider-box">
                    <div class="slider-number">03</div>
                    <div class="slider-title">VR World User Testing</div>
                </div>
            </div>

            <div>
                <div class="item-4 slider-box">
                    <div class="slider-number">04</div>
                    <div class="slider-title">Hydra VR Deploy</div>
                </div>
            </div>
        </div>
    </div>
</section>