<section class="introduction">
    <div class="container">
        <div id="introduction-slider" class="row">
            <div class="col">
                <div class="pay-us">
                    <div class="col-title">Pay Us a Visit</div>
                    <div class="col-description">Union St, Seattle, WA 98101, United States</div>
                </div>
            </div>
            <div class="col">
                <div class="give-us">
                    <div class="col-title">Give Us a Call</div>
                    <div class="col-description">(110) 1111-1010</div>
                </div>
            </div>
            <div class="col">
                <div class="send-us">
                    <div class="col-title">Send Us a Message</div>
                    <div class="col-description">Contact@HydraVTech.com</div>
                </div>
            </div>
        </div>

        <div class="hydra-vr">
            <div class="row">
                <div class="col">
                    <div class="introduction-title">INTRODUCTION</div>
                    <div class="introduction-subtitle">TO HYDRA VR</div>
                </div>
                <div class="col">
                    <div class="introduction-description">Vitae sapien pellentesque habitant morbi tristique senectus et netus et. Feugiat nibh sed pulvinar proin gravida hendrerit lectus. Mi sit amet mauris commodo quis imperdiet massa tincidunt nunc. Viverra aliquet eget sit amet tellus. Ornare lectus sit amet est placerat in. Lectus magna fringilla urna porttitor rhoncus vitae.</div>
                </div>
            </div>
        </div>
    </div>
</section>