<section class="build-slider">
    <div class="container">
        <div class="slider-template">
            <div>
                <div class="slide-box">
                    <div class="slider-img">
                        <img src="assets/img/build-slider-img-1.svg" alt="img-1">
                    </div>
                    <div class="slider-title">SIMULATION</div>
                    <div class="slider-description">Vitae sapien pellentesque habitant morbi
                        nunc. Viverra aliquet  porttitor rhoncus 
                        libero justo laoreet sit amet vitae.</div>
                    <div class="slider-btn">
                        <button class="btn-try-it">TRY IT NOW</button>
                    </div>
                </div>
            </div>

            <div>
                <div class="slide-box">
                    <div class="slider-img">
                        <img src="assets/img/build-slider-img-2.svg" alt="img-2">
                    </div>
                    <div class="slider-title">EDUCATION</div>
                    <div class="slider-description">Vitae sapien pellentesque habitant morbi
                        nunc. Viverra aliquet  porttitor rhoncus 
                        libero justo laoreet sit amet vitae.</div>
                    <div class="slider-btn">
                        <button class="btn-try-it">TRY IT NOW</button>
                    </div>
                </div>
            </div>

            <div>
                <div class="slide-box">
                    <div class="slider-img">
                        <img src="assets/img/build-slider-img-3.svg" alt="img-3">
                    </div>
                    <div class="slider-title">SELF-CARE</div>
                    <div class="slider-description">Vitae sapien pellentesque habitant morbi
                        nunc. Viverra aliquet  porttitor rhoncus 
                        libero justo laoreet sit amet vitae.</div>
                    <div class="slider-btn">
                        <button class="btn-try-it">TRY IT NOW</button>
                    </div>
                </div>
            </div>

            <div>
                <div class="slide-box">
                    <div class="slider-img">
                        <img src="assets/img/build-slider-img-4.svg" alt="img-4">
                    </div>
                    <div class="slider-title">OUTDOOR</div>
                    <div class="slider-description">Vitae sapien pellentesque habitant morbi
                        nunc. Viverra aliquet  porttitor rhoncus 
                        libero justo laoreet sit amet vitae.</div>
                    <div class="slider-btn">
                        <button class="btn-try-it">TRY IT NOW</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>